{% form_theme form _self %}

{% block hall_session_rows_row %}
    {% spaceless %}
        <div class="hall-session-row-wrap">
            <div class="hall-session-table">
                {% for rowForm in form.children %}
                    <div class="hall-session-row">

                        {% for columnForm in rowForm.seats.children %}
                            <div class="hall-session-seat">
                                {{ form_widget(columnForm.status) }}
                                {{ form_widget(columnForm.price) }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block reservation_seats_widget %}
    {% spaceless %}
        <div class="seats-table">
            {% for groupData in form.vars.choices %}
                <div>
                    Row {{ loop.index }}
                    <div class="seats-row">
                        <div>
                            {% for seat in groupData.choices %}
                                <div class="seats-cell">
                                    <div class="seats-body {% if seat.data.status != constant('App\\Entity\\Seat::STATUS_ENABLED') %}disabled{% endif %}">
                                        {% if seat.data.status == constant('App\\Entity\\Seat::STATUS_ENABLED') %}
                                            {{ form_widget(form[seat.value]) }}

                                            <div>{{ loop.index }}</div>
                                            <div>
                                                {{ seat.data.price }}
                                            </div>
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}