{% form_theme form _self %}

{% block hall_session_rows_row %}
    {% spaceless %}
        <div class="hall-session-row-wrap">
            <div class="hall-session-table">
                {% for rowForm in form.children %}
                    <div class="hall-session-row">

                        {% for columnForm in rowForm.seats.children %}
                        <div class="hall-session-seat">
                            {{ form_widget(columnForm.status) }}
                            {{ form_widget(columnForm.price) }}
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block reservation_seats_widget %}
    {% spaceless %}
        {% for groupData in form.vars.choices %}
            <div>
                Row {{ groupData.label }}
                <div>
                    {% for seat in groupData.choices %}
                        <div>
                            {{ form_widget(form[seat.value]) }}
                            {{ form_label(form[seat.value]) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endspaceless %}
{% endblock %}