{% form_theme form _self %}

{% block seans_rows_row %}
    {% spaceless %}
        <div class="seans-row-wrap">
            <div class="seans-table">
                {% for rowForm in form.children %}
                    <div class="seans-row">

                        {% for columnForm in rowForm.seats.children %}
                        <div class="seans-seat">
                            {{ form_widget(columnForm.status) }}
                            {{ form_widget(columnForm.price) }}
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block reservation_widget %}
    {% spaceless %}
        {{ form_errors(form.seats) }}
        {% for groupData in form.seats.vars.choices %}
            <div>
                Row {{ groupData.label }}
                <div>
                    {% for seat in groupData.choices %}
                        <div>
                            {{ form_widget(form.seats[seat.value]) }}
                            {{ form_label(form.seats[seat.value]) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endspaceless %}
{% endblock %}